.navbar {
  background: #2c3e70 !important; 
  padding: 10px 20px;
  display: flex;               
  justify-content: space-between; 
  align-items: center;         
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: white !important;
}
.navbar-center {
  position: absolute; 
  left: 50%;  
  transform: translateX(-50%);  
  text-align: center;  
  color: white;  
}
.navbar-nav .nav-link {
  color: white !important;
  font-weight: 500;
  padding: 10px 15px;
  transition: background 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  background: #1a2b5c;
  border-radius: 5px;
}

.navbar-toggler {
  border-color: white !important;
}

.navbar-toggler-icon {
  filter: invert(1); 
}

.btn-primary {
  background:  rgba(0, 0, 50, 0.7);
  border: none;
}

.btn-primary:hover {
  background: #0056b3;
}

.btn-outline-light {
  border-color: white;
  color: white;
}

.btn-outline-light:hover {
  background: rgba(0, 0, 50, 0.7);
  color: white;
}

